<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.mstiehr.de.fieldserviceapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name=".FieldServiceApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
        </activity>
        <activity
                android:name=".activity.FieldServiceActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.RefreshJobsActivity"
                android:parentActivityName=".activity.FieldServiceActivity"/>
        <activity
                android:name=".activity.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".activity.FieldServiceActivity">
        </activity>
        <activity
                android:name=".activity.ListJobsActivity"
                android:label="@string/title_activity_list_jobs"
                android:parentActivityName=".activity.FieldServiceActivity"/>
        <activity
                android:name=".activity.SettingsTransientActivity"
                android:label="@string/title_activity_settings_transient"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data android:name="AA_DB_NAME" android:value="fieldservice.db"/>
        <meta-data android:name="AA_DB_VERSION" android:value="1"/>
        <meta-data
                android:name="AA_MODELS"
                android:value="dev.mstiehr.de.fieldserviceapplication.json.Job, dev.mstiehr.de.fieldserviceapplication.json.LogEntry" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>

</manifest>